version: 1
disable_existing_loggers: False
formatters:
  default:
    format: '%(asctime)s | %(levelname)-8s | %(name)s - %(message)s'
    datefmt: '%Y-%m-%dT%H:%M:%SZ'
handlers:
  console:
    class: logging.StreamHandler
    formatter: default
    stream: ext://sys.stdout
root:
  level: INFO
  handlers: [console]
